pipeline/PoCZeus_ProcessIst.json
{
	"name": "PoCZeus_ProcessIst",
	"properties": {
		"activities": [
			{
				"name": "Eingangsdateien listen",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CuratedGetMetadataDataset",
						"type": "DatasetReference",
						"parameters": {
							"SourceContainer": "/curated",
							"SourceDirectory": "/PocZeus/ToProcess/Ist"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Nur Dateien",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Nur Dateien').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Kopiere Datei zur Verarbeitung",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "PocZeusCuratedBinary",
									"type": "DatasetReference",
									"parameters": {
										"Container": "@pipeline().parameters.SourceStore_Location",
										"Directory": "@pipeline().parameters.SourceStore_Directory",
										"filename": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BinaryDataDestination",
									"type": "DatasetReference",
									"parameters": {
										"Container": "@pipeline().parameters.DestinationStore_Location",
										"Directory": "@pipeline().parameters.DestinationStore_Directory",
										"filename": "\"MipUrlaub.csv\""
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Nur Dateien",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Eingangsdateien listen",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Eingangsdateien listen').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "string",
				"defaultValue": "/curated"
			},
			"SourceStore_Directory": {
				"type": "string",
				"defaultValue": "/PocZeus/ToProcess/Ist"
			},
			"DestinationStore_Location": {
				"type": "string",
				"defaultValue": "/processed"
			},
			"DestinationStore_Directory": {
				"type": "string",
				"defaultValue": "/PocZeus/Temp/InputFile"
			}
		},
		"variables": {
			"PIP_LADELAUF_ID_LAST": {
				"type": "String",
				"defaultValue": "-1"
			},
			"PIP_LADELAUF_ID_NEXT": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "PoC Zeus"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-14T09:02:31Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}