pipeline/PoCZeus_Regelverarbeitung_DB.json
{
	"name": "PoCZeus_Regelverarbeitung_DB",
	"properties": {
		"activities": [
			{
				"name": "SET Ladelauf_id",
				"description": "Wenn Parameter Ladelauf_ID = -1, dann wird der Wert automatisch ermittelt",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Pruefe Dateiname",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(pipeline().parameters.Ladelauf_ID,-1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SET NEXT LAUF ID Static",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PIP_LADELAUF_ID_NEXT",
								"value": {
									"value": "@pipeline().parameters.Ladelauf_ID",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DF_Get_Load_ID_SP",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "PoC Zeus Get Max Ladelauf_ID_SP",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "None",
								"cacheSinks": {
									"firstRowOnly": true
								}
							}
						},
						{
							"name": "Get Current Lauf ID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "DF_Get_Load_ID_SP",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PIP_LADELAUF_ID_LAST",
								"value": {
									"value": "@string(activity('DF_Get_Load_ID_SP').output.runStatus.output.sink1.value[0].LADELAUF_ID)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SET NEXT LAUF ID as Increment",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Current Lauf ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PIP_LADELAUF_ID_NEXT",
								"value": {
									"value": "@string(add(int(variables('PIP_LADELAUF_ID_LAST')),1))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "SQL SP ImportUrlaub_IST",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "SET Ladelauf_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "sqlpool1",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_ImportUrlaub]",
					"storedProcedureParameters": {
						"Filename": {
							"value": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							},
							"type": "String"
						},
						"Ladelauf_ID": {
							"value": {
								"value": "@variables('PIP_LADELAUF_ID_NEXT')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Pruefe Dateiname",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.Filename)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Dateiname fehlt",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Dateiname fehlt",
								"errorCode": "ERR_NO_FILENAME"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Ladelauf_ID": {
				"type": "string",
				"defaultValue": "29"
			},
			"Filename": {
				"type": "string",
				"defaultValue": "MIPUrlaubIst20210831.csv"
			}
		},
		"variables": {
			"PIP_LADELAUF_ID_LAST": {
				"type": "String",
				"defaultValue": "-1"
			},
			"PIP_LADELAUF_ID_NEXT": {
				"type": "String",
				"defaultValue": "-1"
			}
		},
		"folder": {
			"name": "PoC Zeus"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-15T13:26:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}