pipeline/PoCZeus_Regelverarbeitung_Dateien.json
{
	"name": "PoCZeus_Regelverarbeitung_Dateien",
	"properties": {
		"activities": [
			{
				"name": "Landing2Captured",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Input Datei ermitteln",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PocZeusLandingBinary",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "PocZeus/Regelverarbeitung",
							"Filename": {
								"value": "@variables('Filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PocZeusCapturedBinary",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "PocZeus/Regelverarbeitung",
							"Filename": {
								"value": "@variables('Filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Captured2Curated",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Landing2Captured",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PocZeusCapturedBinary",
						"type": "DatasetReference",
						"parameters": {
							"Directory": "PocZeus/Regelverarbeitung",
							"Filename": {
								"value": "@variables('Filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PocZeusCuratedBinary",
						"type": "DatasetReference",
						"parameters": {
							"Container": "curated",
							"Directory": "PocZeus/Regelverarbeitung",
							"filename": {
								"value": "@variables('Filename')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Curated2ProcessedInput",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Captured2Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "PocZeusCuratedBinary",
						"type": "DatasetReference",
						"parameters": {
							"Container": "curated",
							"Directory": "PocZeus/Regelverarbeitung",
							"filename": {
								"value": "@variables('Filename')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "PocZeusProcessedRegelverarbeitungInputFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Input Datei ermitteln",
				"description": "Falls keine Input Datei angegeben ist, diese automatisch ermitteln",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(pipeline().parameters.Static_Filename)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filename",
								"value": {
									"value": "@pipeline().parameters.Static_Filename",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Dateien Listen",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "LandingGetMetadataDataset",
									"type": "DatasetReference",
									"parameters": {
										"SourceContainer": "landing",
										"SourceDirectory": "PocZeus/Regelverarbeitung"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Nur Dateien",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "Dateien Listen",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Dateien Listen').output.childItems",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(item().type, 'File')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setze Dateinamen",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Nur Dateien",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Filename",
								"value": {
									"value": "@activity('Nur Dateien').output.value[0].name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Erzeuge Ist Zielwerte fuer Stichtag",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Curated2ProcessedInput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "PoC Zeus Regelverarbeitung",
						"type": "DataFlowReference",
						"parameters": {
							"TARGET_DIR": "\"PocZeus/Regelverarbeitung/\""
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"parameters": {
			"Static_Filename": {
				"type": "string"
			}
		},
		"variables": {
			"PIP_LADELAUF_ID_LAST": {
				"type": "String",
				"defaultValue": "-1"
			},
			"PIP_LADELAUF_ID_NEXT": {
				"type": "String",
				"defaultValue": "-1"
			},
			"Filename": {
				"type": "String"
			}
		},
		"folder": {
			"name": "PoC Zeus"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-15T16:35:24Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}